extends layout

block content
  h2= title
  p #{description}
  p
    strong Version #{version} - Release #{release}
  p Last Release Date #{lastUpdateDate}
  p Author #{author}
  sub All rights reserved &copy; #{year}
